.skill {
  margin-top: 20px;
  margin-right: 30px;
  .image {
    height: 42px;
  }
  .skill-title {
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
    color: #888;
    font-size: 12px;
    transition: 0.3s ease;
  }
}