@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

.App {
  font-family: "Roboto", sans-serif;
  transition: 0.3s ease;
  .Home {
    .intro {
      .title {
      }
    }
  }

  &.dark {
    .Home {
      background-color: #161b1f;
      .intro {
        background-color: #161b1f;
        .title {
          color: #fff;
        }

        .greeting {
          .actions {
            .contact {
              background-color: #fd7014;
            }
          }
        }
      }
    }
  }
}
